body {
  background: #eee;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand span {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  background: #162334;
  height: 60px;
  color: #fff;
}

.navbar img {
  display: inline-block;
}

.navbar span {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  color: #fff;
}

.container {
  padding-top: 100px;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
