body {
  background: #eee;
}

.container {
  width: 100% !important;
  padding: 0;
}

h1 {
  margin: 15px 20px;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand span {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  background: #162334;
  height: 60px;
  color: #fff;
}

.navbar img {
  display: inline-block;
}

.navbar span {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  color: #fff;
}

.left-rail {
  background: #4A5459;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  color: #fff;
}

.left-rail .heading {
  background: #69797e;
  width: 100%;
  padding: 10px;
}

.left-rail .heading h2 {
  margin: 0;
}

.left-rail .heading h2 .circle {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.left-rail .navbar-collapse {
  padding: 0;
}

.left-rail a {
  color: #fff;
}

.left-rail a:hover,
.left-rail a:focus {
  color: #4A5459;
}

.left-rail .nav {
  height: calc(100% - 100px);
  max-height: 560px;
  overflow-y: auto;
}

.left-rail .nav .nav-second-level a {
  padding-left: 37px;
}

.left-rail .sidebar > ul > li {
  border-bottom: 1px solid #e7e7e7;
}

.nav > li > a {
  padding: 15px;
}

.right-rail {
  top: 0;
  right: 0;
  position: fixed;
  width: 230px;
  background: #fff;
  height: 100%;
}

.middle-rail {
  margin-left: 250px;
  width: calc(100% - 480px);
  padding: 15px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
}

.middle-rail.loading-shown {
  opacity: 0.4;
}

.modal-open .middle-rail {
  position: relative;
}

@media (max-width: 991px) {
  .middle-rail {
    margin: 0;
    width: 100%;
  }
}

.middle-rail h3 {
  margin: 15px;
  color: #4c4a48;
  font-weight: 300;
}

.right-rail > div {
  padding: 15px;
}

.notification {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: calc(100% - 515px);
}

.footer {
  padding: 1.5em;
  color: #fff;
  text-align: right;
  border-top: 1px solid #60707e;
  background: #4A5459;
}

.navbar {
  border-radius: 0;
  background: #4A5459;
  z-index: 1;
}

.navbar-brand span {
  text-transform: none !important;
  font-size: 20px;
  margin: 10px 0;
}

.navbar-brand span.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin: 5px 7px;
}

.navbar .navbar-toggler {
  background: transparent;
  border: 0;
  font-size: 26px;
}

.navbar .navbar-toggler i {
  margin-top: 12px;
}

.navbar .main-collapse {
  margin-top: 59px;
  width: 100%;
  background: #4A5459;
}

.navbar .collapse .links a {
  color: #fff !important;
}

.navbar .collapse .links li a:hover,
.navbar .collapse .links li a:focus {
  color: #4A5459 !important;
}

.table-responsive {
  margin: 15px;
  width: 90%;
}

.table-responsive >.fixed-column {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: auto;
  border-right: 1px solid #ddd;
}
@media(min-width:768px) {
  .table-responsive >.fixed-column {
    display: none;
  }
}

.loading {
  position: absolute;
  width: 300px;
  height: 300px;
  left: calc(50% - 150px);
  top: 80px;
  z-index: 1;
  background: #fff;
  opacity: 0.8;
}

.loading i {
  font-size: 65px;
  top: 40%;
  margin-left: 38%;
  position: absolute;
}

.modal button.submit-form {
  margin: 15px 0;
}

a,
a:hover,
a:focus {
  cursor: pointer;
}

.notifications h5 {
  border-bottom: 3px dotted #eee;
  padding-bottom: 10px;
}

ul.notification-list {
  padding: 0 !important;
  list-style: none !important;
}

ul.notification-list li {
  border-bottom: 1px solid #ededed;
  padding: 5px 0;
}

ul.notification-list li .create-date{
  font-size: 10px;
  color: #999;
}

.clearfix {
  clear: both;
}
