body {
  background: #eee;
}

.container {
  width: 100% !important;
  padding: 0;
}

h1 {
  margin: 15px 20px;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand span {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar {
  background: #162334;
  height: 60px;
  color: #fff;
}

.navbar img {
  display: inline-block;
}

.navbar span {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  color: #fff;
}

.left-rail {
  background: #4A5459;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  color: #fff;
}

.left-rail .heading {
  background: #69797e;
  width: 100%;
  padding: 10px;
}

.left-rail .heading h2 {
  margin: 0;
}

.left-rail .heading h2 .circle {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.left-rail .navbar-collapse {
  padding: 0;
}

.left-rail a {
  color: #fff;
}

.left-rail a:hover,
.left-rail a:focus {
  color: #4A5459;
}

.left-rail .nav {
  height: calc(100% - 100px);
  max-height: 560px;
  overflow-y: auto;
}

.left-rail .nav .nav-second-level a {
  padding-left: 37px;
}

.left-rail .sidebar > ul > li {
  border-bottom: 1px solid #e7e7e7;
}

.nav > li > a {
  padding: 15px;
}

.right-rail {
  top: 0;
  right: 0;
  position: fixed;
  width: 230px;
  background: #fff;
  height: 100%;
}

.middle-rail {
  margin-left: 250px;
  width: calc(100% - 480px);
}

.middle-rail h3 {
  margin: 15px;
  color: #4c4a48;
  font-weight: 300;
}

.footer {
  padding: 1.5em;
  color: #fff;
  text-align: right;
  border-top: 1px solid #60707e;
  background: #4A5459;
}
