<link rel="stylesheet" type="text/css" href="../css/panel.css">
<div class="dashaboard-panel agent-panel row">
  {{{{raw-helper}}}}
  <a class="col-md-3" href="/agents">
    <div class="green">
      <p class="panel-heading">Agents</p>
      <p class="count">{{stats.agents_count}}</p>
    </div>
  </a>
  <a class="col-md-3" href="/workflows">
    <div class="red">
      <p class="panel-heading">Workflows</p>
      <p class="count">{{stats.workflow_configure_count}}</p>
    </div>
  </a>
  <a class="col-md-3" href="/tasks">
    <div class="purple">
      <p class="panel-heading">Tasks</p>
      <p class="count">{{stats.tasks_configure_count}}</p>
    </div>
  </a>
  {{{{/raw-helper}}}}
</div>
