<div class="visible-md visible-lg left-rail" role="navigation" ng-controller="leftRailController" data-ng-init="init()">
  <div class="sidebar sidebar-nav navbar-collapse">
    <div class="heading">
      <h2><span>Linked<span><span class="circle"></span><span><b>Gov</b></span></h2>
    </div>
    <ul class="nav" id="side-menu">
      <li>
        <a href="/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li>
        <a data-toggle="collapse" href="#manageTasks" aria-expanded="false" aria-controls="manageTasks"><i class="fa fa-tasks fa-fw"></i> Manage Tasks <span class="fa fa-angle-down pull-right"></span></a>
        <ul class="nav nav-second-level collapse" id="manageTasks">
          <li>
            <a href="/tasks">View Tasks</a>
          </li>
          <li>
            <a href="/create_task">Configure Task</a>
          </li>
        </ul>
      <!-- /.nav-second-level -->
      </li>
      <li>
        <a data-toggle="collapse" href="#manageWorkflows" aria-expanded="false" aria-controls="manageWorkflows"><i class="fa fa-connectdevelop fa-fw"></i> Manage Workflows <span class="fa fa-angle-down pull-right"></span></a>
        <ul class="nav nav-second-level collapse" id="manageWorkflows">
          <li>
            <a href="/workflows">View Worfklows</a>
          </li>
          <li>
            <a href="/create_workflow">Configure Workflow</a>
          </li>
        </ul>
      <!-- /.nav-second-level -->
      </li>
      <li>
        <a data-toggle="collapse" href="#manageGroups" aria-expanded="false" aria-controls="manageGroups"><i class="fa fa fa-group fa-fw"></i> Manage Groups <span class="fa fa-angle-down pull-right"></span></a>
        <ul class="nav nav-second-level collapse" id="manageGroups">
          <li>
            <a href="/departments">View Departments</a>
          </li>
          <li>
            <a href="/offices">View Offices</a>
          </li>
          <li>
            <a href="/create_department">Configure Department</a>
          </li>
          <li>
            <a href="/create_office">Configure Office</a>
          </li>
        </ul>
      <!-- /.nav-second-level -->
      </li>
      <li>
        <a data-toggle="collapse" href="#manageAgents" aria-expanded="false" aria-controls="manageAgents"><i class="fa fa-user-plus fa-fw"></i> Manage Agents <span class="fa fa-angle-down pull-right"></span></a>
        <ul class="nav nav-second-level collapse" id="manageAgents">
          <li>
            <a href="/agents">View Agents</a>
          </li>
          <li>
            <a href="/create_agent">Configure Agent</a>
          </li>
        </ul>
      <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="/report"><i class="fa fa-bar-chart-o fa-fw"></i> Reports</a>
      </li>
      <li>
        <a href="/account"><i class="fa fa-user fa-fw"></i> Manage Account</a>
      </li>
    </ul>
  </div>
</div>
<script src="../js/controllers/left_rail.js"></script>

