<div class="loading" ng-controller="loadingController" ng-show="showLoading" data-ng-init="init()">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<script src="../js/controllers/loading.js"></script>
