<div class="notification" ng-controller="notificationController" data-ng-init="init()">
  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{{{raw-helper}}}}
    <p>{{message}}</p>
    {{{{/raw-helper}}}}
  </div>
</div>
<script src="../js/controllers/notification.js"></script>
