<div class="right-rail visible-md visible-lg">
  <div class="notifications" ng-controller="productNotificationsController" data-ng-init="init()">
    <h5>Notifications</h5>
  </div>
</div>
<script src="../js/controllers/product_notifications.js"></script>
