<div ng-controller="signinController">
  <form class="form-signin" ng-submit="processSignin()" ng-show="signinState">
    <h2 class="form-signin-heading">Sign in</h2>
    <label for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" ng-model="formSigninData.email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" ng-model="formSigninData.password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" ng-checked="formSigninData.rmbme"> Remember me
      </label>
    </div>
    <p>Don't have an account? <a ng-click="showSignup()">Sign up</a></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
<script src="../js/controllers/signin.js"></script>
