{{> leftrail}}
<div class="middle-rail" ng-controller="accountController">
  <h3>Manage Account</h3>
  <form ng-submit="updateAccount">
    <div>
      <label for="inputEmail">Email</label>
      <input type="text" id="inputEmail" ng-model="formAccount.name" class="form-control" placeholder="Agent email" required autofocus>
    </div>
    <div>
      <label for="inputphone">Phone</label>
       <input type="text" id="inputPhone" ng-model="formAccount.phone" ui-mask="1-999-999-9999" class="form-control" ui-mask-placeholder ui-mask-placeholder-char="_" required>
    </div>
    <div>
      <label for="inputFirstName">FirstName</label>
      <input type="text" id="inputFirstName" ng-model="formAccount.firstName" class="form-control" placeholder="Firstname" required autofocus>
    </div>
    <div>
      <label for="inputFirstName">LastName</label>
      <input type="text" id="inputLastName" ng-model="formAccount.lastName" class="form-control" placeholder="Lastname" required autofocus>
    </div>
  </form>
  {{> loading}}
</div>
{{> rightrail}}
<script src="../js/controllers/account.js"></script>
