<link rel="stylesheet" type="text/css" href="../css/intro.css">
<div class="block-page">
  <h1><span>Linked</span><span class="period"></span><span><b>Gov</b></span></h1>
  <div class="block-form">
    <p>
    Current system is not support customer on Brower. Please use Android app to interact with LinkedGov.
    </p>
  </div>
</div>
{{> footer}}
