<link rel="stylesheet" type="text/css" href="../css/create_form.css">
{{> leftrail}}
<div class="middle-rail" ng-controller="createProcessController" data-ng-init="init()">
  <h3>Configure New Task Type</h3>
  <form ng-submit="createProcess()">

  </form>
</div>
{{> rightrail}}
<script src="../js/controllers/create_process.js"></script>
