<link rel="stylesheet" type="text/css" href="../css/create_form.css">
{{> leftrail}}
<div class="middle-rail" ng-controller="createDepartmentController">
  <h3>All Departments</h3>
  <form ng-submit="createDepartment()">
    <div>
      <label for="inputName">Department Name</label>
      <input type="text" id="inputName" ng-model="formDepartment.name" class="form-control" placeholder="Department name" required autofocus>
    </div>
    <div>
      <label for="inputDesc">Department Description</label>
      <textarea class="form-control" rows="3" ng-model="formDepartment.description" id="inputDesc" placeholder="Department description" required></textarea>
    </div>
    <div>
      <label for="inputCode">Department Code</label>
      <input type="text" id="inputCode" ng-model="formDepartment.unique_code" class="form-control" placeholder="Department code" required>
    </div>
    <div>
      <label for="inputAddress">Department Address</label>
      <input type="text" id="inputAddress" ng-model="formDepartment.address" class="form-control" placeholder="Department address" required>
    </div>
    <div>
      <label for="inputPhone">Department Phone</label>
      <input type="text" id="inputPhone" ng-model="formDepartment.phone" ui-mask="1-999-999-9999" class="form-control" ui-mask-placeholder ui-mask-placeholder-char="_" required>
    </div>
    <div>
      <label for="inputEmail">Department Email</label>
      <input type="text" id="inputEmail" ng-model="formDepartment.group_email" class="form-control" placeholder="Department email" required>
    </div>
    <div>
      <label for="inputIcon">Department Icon (Please select an image)</label>
      <input type="file" id="inputIcon" ng-change="initUpload()" accept="image/*" />
    </div>
    <button type="submit" class="btn btn-primary submit-form">Create Department</button>
  </form>
</div>
{{> rightrail}}
<script src="../js/controllers/create_department.js"></script>
