<link rel="stylesheet" type="text/css" href="../lib/vis/dist/vis.min.css">
<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
{{> leftrail}}
<div class="middle-rail" ng-controller="dashboardController" data-ng-init="init()">
  <h3>DashBoard</h3>
  {{#if _isAdmin}}
    {{> admin_panel}}
    <div class="mynetwork" id="mynetwork"></div>
  {{else}}
    {{#eq _role 'agent'}}
      {{> agent_panel}}
    {{/eq}}
  {{/if}}
  {{> loading}}
</div>
{{> rightrail}}
<script src="../lib/vis/dist/vis.min.js"></script>
<script src="../js/controllers/dashboard.js"></script>
