{{> leftrail}}
<div class="middle-rail" ng="officesController" data-ng-init="init()">
  <h3>All Offices</h3>

  {{> notification}}
</div>
{{> rightrail}}
<script src="../js/controllers/offices.js"></script>
