{{> leftrail}}
<div class="middle-rail" ng-controller="reportController" data-ng-init="init()">
  <h3>Reports</h3>
  {{> loading}}
</div>
{{> rightrail}}
<script src="../js/controllers/report.js"></script>
