{{> leftrail}}
<div class="middle-rail" ng-controller="tasksController" data-ng-init="init()">

</div>
{{> rightrail}}
<!-- JS for chart -->
<script src="../lib/raphael/raphael.min.js"></script>
<script src="../lib/morrisjs/morris.min.js"></script>
<!-- End JS for chart -->
<script src="../js/controllers/task_agent.js"></script>
