{{> leftrail}}
<div class="middle-rail" ng-controller="workflowsController" data-ng-init="init()">
  <h3>All Workflows</h3>

  {{> notification}}
</div>
{{> rightrail}}
<script src="../js/controllers/workflow.js"></script>
