<!DOCTYPE html>
<html ng-app="workflowApp">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/gov.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title>LinkedGov</title>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular-ui-mask/dist/mask.min.js"></script>
    <script src="../js/app.js"></script>
  </head>
  <body>
    <!-- Wrap Begin -->
    <div class="wrapper">
      {{> header}}
      <div class="container">
        {{{body}}}
      </div>
      <div class="clear"></div>
      <input type="hidden" name="_csrf" value="{{_csrf}}" />
      <input type="hidden" name="_userId" value="{{_userId}}" />
    </div>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Wrap End -->
  </body>
</html>
